backend:
  name: github
  repo: iworks2/test-titan
  branch: main

media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: posts
    label: Posts
    folder: src/content/posts
    create: true
    fields:
      - { label: Title, name: title, widget: string }
      - { label: Body, name: body, widget: markdown }